.tableau {
    display: flex;
    justify-content: center
}

table {
    width: 800px;
    height: 800px;
    }
    
td, th {
    border: 3px solid black;
    justify-items: center;
    border-color: black;
    
    }

caption {
    background-color: black;
    color: aquamarine;
    
    
}
tr {
    text-align: center;    
    border-color: black;
    
}
tbody {
    border-color: black;
    
}

@media screen and (max-width: 1000px) {
    table {
        max-width: 100%;
    }
}
