body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div {
    flex-flow: column;
    justify-content: center;
    display: flex;
}

h1 {
    text-align: center;
}

form {
    justify-content: center;
    margin: 500 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
}

form + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;

}

input, textarea {
    font: 1em sans-serif;
    width: 400px;
    box-sizing: border-box;
    border-radius: 10px;
}

input:focus, textarea:focus {
    border-color: #000;
}
  
  textarea {
    height: 5em;
}

#age, #nom #prenom #email #adresse{
    height: 34px;
}
  
  .button {
    padding-left: 90px;
}
  
  button {
    margin-left: .5em;
    width: 400px;
    box-sizing: border-box; 
    border-radius: 10px;
}

select {
    border-radius: 10px;
}

