
.firstpart{
   width: 1000px; 
   display: flex;
   flex-direction: row;
 }
 .paragraphe{
 
  font-size: 15px;
  margin: 1em;
 }

 .secondpart {
   display: flex;
   flex-direction: row;
 }
 .paragrapheb{
  font-size: 15px;
  margin: 1em;
 }

 footer {
   background-color: sienna;

 }
 
 h3 {
   text-align: center;
 }

 .partenaire {
  display: flex;
 }
 



