
.firstpart{
   width: 100%; 
   display: flex;
   flex-direction: row;
}

.paragraphe{
 
  font-size: 1.5em;
  margin: 1em;
  display: inline;
}

.secondpart {
   display: flex;
   flex-direction: row;
}

.paragrapheb{
  font-size: 1.4em;
  margin: 1em;
  display: flex;
}

@media screen and (max-width: 1000px) {
  div.firstpart { 
    flex-direction: column;
    }
  div.secondpart {
    flex-direction: column;
  } 

}